on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 20 * * *'
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to test github-follower
    steps:
      - uses: actions/checkout@v3

      - name: use github-follower
        id: github-follower-action
        uses: JieDing/github-followers-action@main
        env:
          login: ${{ github.repository_owner }}
          pat: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Commit changes
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add -A
            git diff-index --quiet HEAD || git commit -m "Update GitHub followers"
      - name: Pull changes
        run: git pull -r
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
